//
// Content
//

// Desktop Mode
@include media-breakpoint-up(lg) {
	.content {
		padding: 0;

		// Fixed Footer Mode
		.footer-fixed & {
			padding-bottom: 0;
		}
	}
}

// Tablet & Mobile Modes
@include media-breakpoint-down(md) {
	.content {
		padding: get($page-padding, tablet-and-mobile) 0;

		// Subheader Enabled & Subheader Transparent Modes
		.subheader-enabled.subheader-transparent & {
			padding-top: 0;
		}
	}
}
